header.container-coustom
    .header-left
        .logo
            a.logo__link(href="")
                img(src="./img/logo.png", alt="Cake")
        .header-left__search
            form.header-left__form(action="#")
            input(type="text" placeholder='Tìm kiếm').header-left__input
            button.btn.btn--red    
                i.fas.fa-search.header-left__icon

    .header-right
        nav.header-right__main-menu
            ul.header-right__list
                li.header-right__item
                    a(href="").header-right__link Trang chủ
                li.header-right__item 
                    a(href="").header-right__link Sản Phẩm
                li.header-right__item 
                    a(href="").header-right__link Tin Tức
                li.header-right__item 
                    a(href="").header-right__link Liên Hệ
        .header-right__avatar
            i.fas.fa-user.header-right__link
                
        .header-right__carts
            i.fas.fa-cart-arrow-down.header-right__carts