.Card{
    width: 100%;
    height: 100%;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    background-size: cover;
    
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all .5s ease-in-out !important;

    &:hover{
     background-size: 130%;
    }
}

