.half.panel-left .prev-lesson, .half.panel-left .next-lesson {
    display: none;
}
.btn-link-comment-mobile {
    display: none;
}
strong {
    font-weight: 700 !important;
}
@media (max-width : 576px) {
    .splitter {
        display: none;
    }
    .panel-container {
        flex-direction: column;
    }
    .panel-container .half {
        width: 100% !important;
    }
    .navigation-lesson .prev-lesson, .navigation-lesson .next-lesson {
        display: none;
    }
    .half.panel-left {
        position: relative;
        z-index: 0;
    }
    .half.panel-left .prev-lesson, .half.panel-left .next-lesson {
        display: block;
        position: absolute;
        z-index: 1000;
        width: 32px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        padding: 0;
        opacity: 0.2;
        cursor: pointer !important;
    }
    .half.panel-left .prev-lesson {
        left: 0;
        top: calc(50% - 25px);
    }
    .half.panel-left .next-lesson {
        right: 0;
        top: calc(50% - 25px);
    }
    /* .half.panel-left .prev-lesson:hover, .half.panel-left .next-lesson:hover {
        opacity: 0.5 !important;
        color: #fff !important;
    } */
    .content-lesson {
        position: absolute !important;
        width: 100%;
    }

    /* menu */
    #new-side-menu {
        position: fixed !important;
        width: 100% !important;
    }
    .new-side-menu {
        transform: translateX(-100%) !important;
        transition: all .2s ease-out;
    }
    .new-side-menu.active {
        transform: translateX(0%) !important;
    }
    .main-div {
        margin-left: 0% !important;
        transition: all .2s ease-out;
    }
    .main-div.active {
        margin-left: 100% !important;
    }
    .menu-side-header {
        height: 60px;
        background-color: #34465b;
        color: #fff;
    }
    .menu-side-header span, .menu-side-header i {
        color: #fff !important;
    }
    .menu-side-header span {
        font-weight: 400;
    }
    #sectionList .section-title, #sectionList .lesson-title {
        font-size: 1rem;
    }
    #hamburgerMenu {
        font-size: 24px !important;
        padding-left: 15px !important;
    }


    /* step list*/
    .step-bar {
        height: 40px;
    }
    .step-name {
        font-size: 1rem;
        padding: 0 20px;
    }
    .step-active {
        border-bottom: 4px solid #007791;
    }

    /* quiz*/
    #quiz {
        padding: 1rem !important;
    }
    #quiz .step-title .title-wrapper div {
        font-size: 1.5rem;
    }
    .quiz-list {
        padding: 20px;
    }
    #quiz pre {
        font-size: 1rem;
    }
    span#answer-false, span#answer-true {
        font-size: 1.1rem ;
    }

    /*download file*/
    #file {
        padding: 1rem !important;
    }
    .step-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .list-file-uploaded__title {
        display: none;
    }
    .file-uploaded {
        border: 1px solid #007791;
        height: 80px;
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem 0;
    }

    /* comment */
    section#comment .container {
        max-width: 100%;
        width: 100%;
    }
    .btn-link-comment-desktop {
        display: none;
    }
    .btn-link-comment-mobile {
        display: inline-block;
        padding: 0;
        width: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .btn-link-comment-mobile img {
        display: block;
        max-width: 100%;
        margin: auto;
        object-fit: cover;
    }
    .input__image img, .comment__avatar img {
        width: 32px;
    }
    textarea.materialize-textarea {
        padding: 0;
        min-height: 2rem;
        height: 2rem;
    }
    .box-comment .btn {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        padding: 0 8px;
        letter-spacing: 0;
    }
    .box-comment > .col {
        padding: 0;
    }
    .input__content, .comment__detail{
        padding-left: .5em;
    }
    .input__content {
        margin-bottom: 1rem;
    }
    .author, .comment__content pre {
        font-size: 14px;
    }
    .comment__content pre {
        margin: .2em 0;
    }
    .div-hide {
        border: none;
        padding: 0;
    }
}