/* HTML5 display-role reset for older browsers */
*,

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul{
    list-style: none;
}
.html {
  font-size: 62.5%;
  @media screen and (max-width: 1200px) {
    font-size: 62.5%;
  }
  @media screen and (max-width: 992px) {
    font-size: 56.25%;
  }
  @media screen and (max-width: 768px) {
    font-size: 50%;
  }
 
}

body.body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: normal;
  box-sizing: border-box;
  height: 150rem;
}

.mobile{
    @media screen and (min-width: 767px) {
        display: none;
      }
}

.desktop{
    @media screen and (max-width: 768px) {
        display: none;
      }
}

@import './sass/abstracts/Typographys';