* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: black;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

.heading {
    display: block;
    width: 1000px;
    margin: 20px auto;
}
.container {
    width: 1000px;
    margin: 0 auto;
}

.nav {
    width: 250px;
    height: 360px;
    background-color: rgb(214, 213, 213);
}



.nav__list {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 10px 40px rgba(0,0,0,.2);
    
}

.nav__list > li {
    height: 60px;
    display: block;
}

.nav__list > li > a {
    float: left;
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 20px 10px;
}

.nav__list > li > a:hover{
    background-color: white;
}
.nav__list > li > a:hover span {
    display: block;
}

.item-1:hover .nav__list-2,
.item-2:hover .nav__list-2,
.item-3:hover .nav__list-2,
.item-4:hover .nav__list-2
 { 
    display: initial;
}

.nav__list > li > a > span {
    display: none;
    float: right;
    
}

/*------lever2----------*/

.nav__list-2 {
    display: none;

    width: 250px;
    height: 360px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color:  rgb(214, 213, 213);
    box-shadow: 1px 0 10px rgb(0, 0, 0, 0.2);

}

.nav__list-2 > li {
    height: 60px;
    display: block;
}

.nav__list-2 > li > a {
    
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 20px 10px;
}
.nav__list-2 > li > a:hover {
    background-color: white;
}

.nav__list-2 > li > a > span{
    float: right;
    
}



/*--------------lever3----------*/

.nav__list-3 {
    visibility: hidden;
    width: 250px;
    height: 360px;
    background-color:rgb(214, 213, 213);
    box-shadow: 1px 0 10px rgb(0, 0, 0, 0.2);

    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: block;
}

.nav__list-3 > li {
    height: 60px;
    
    display: block;
}

.nav__list-3 > li > a {
    width: 100%;
    height: 60px;
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 20px 10px;
    
}

.nav__list-3 > li > a:hover {
    background-color: white;
}

.item-1-3:hover .nav__list-3,
.item-1-4:hover .nav__list-3 {
   visibility: visible;
}