extends template-part/layout.pug

block style
    
    //- link(rel='stylesheet' type='text/css' href='./assets/style/slick.css')
    link(rel="stylesheet", href="./css/home.css")

block title
            title Cake
block content
    main.content
        .banner
            .bamner-carousell
                .bamner-carousell__item
                    img(src="/img/banner1.png", alt="Giảm 50% khi đặt trên 2 loại bánh")
                    .banner-carousell__content
                        h1.heading-primary Giảm 
                            span 50%
                            br
                            | khi đặt trên 2 loại bánh
                        button.btn.btn--red.btn--transtion-1 Mua ngay
                .bamner-carousell__item 
                    img(src="/img/banner2.jpg", alt="Giảm 70% khi đặt trên 3 loại bánh")
                    .banner-carousell__content.banner-carousell__content--modify
                        h1.heading-primary Giảm 
                            span 70%
                            br
                            | khi đặt trên 3 loại bánh
                        button.btn.btn--red.btn--transtion Mua ngay
        .banner-list
            .container-custom
                .row
                    .col-xl-6.col-xl-6
                        .banner-list__photo
                    .col-xl-6
                        .banner-list__photo-box
                            .row
                                .col-xl-12.photo-3-4
                                    .banner-list__photo-2
                                .col-xl-12
                                    .banner-list__photo-box-2
                                        .row
                                            .col-xl-6 
                                                .banner-list__photo-3
                                            .col-xl-6 
                                                .banner-list__photo-4

block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js' integrity='sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==' crossorigin='anonymous')
    script(src='./js/home.js')
