/* @font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pattaya'), local('Pattaya-Regular'), url('./font/Pattaya/pattayaVn.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
/* @font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pattaya'), local('Pattaya-Regular'), url('./font/Pattaya/pattayaLatin.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  /* @font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pattaya'), local('Pattaya-Regular'), url('./font/Pattaya/pattaLatin2.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */

  /* cyrillic */
/* @font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pattaya'), local('Pattaya-Regular'), url(https://fonts.gstatic.com/s/pattaya/v5/ea8ZadcqV_zkHY-XBdOt9lZE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  } */
  /* thai */
  /* @font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Pattaya'), local('Pattaya-Regular'), url(https://fonts.gstatic.com/s/pattaya/v5/ea8ZadcqV_zkHY-XBcOt9lZE.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }  */
  

:root {
    --color-red: #ED4F4F;
    --color-red-2: #FC1D1D;
    --color-grey: #333333;
    --color-grey-5: #383838;
    --color-grey-6: #2D2D2D;
    --color-grey-7: #1B1B1B;
    --color-grey-2: #666666;
    --color-grey-3: rgba(250, 250, 250, 0.1);
    --color-grey-4: rgba(197, 197, 197, 0.47);
    --color-white: #FFFFFF;
    --color-white-2: #DEDEDE;
    --color-yellow: #EABE12;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}

@media (max-width: 991px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto','Pattaya', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    box-sizing: border-box;
    color:  var(--color-grey);
}

@media only screen and (min-width: 768px) {
    .desktop {
        display: block ;
    }
    .mobile {
        display: none;

    }
}
@media only screen and (max-width: 767px) {
    .mobile {
        display: block ;
    }
    .desktop {
        display: none ;
    }
}
/*********** CUSTOM ***********/
.container-coustom {
    max-width: 114rem;
    width: 100%;
    padding:0 15px;
    margin: 0 auto;

}




/*********** HEADER *************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 9.1rem;
    
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
/* LOGO */
.logo {
    display: flex;
    margin-right: 6rem;
    justify-content: center;
    align-items: center;
}

.logo__link {
    

    width: 6.5rem;
    height: 6rem;
}

.logo__link img{
    width: 100%;
    height: 100%;
}

.header-left__search {
    height: 100%;
    
    
}
.header-left__search-box {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-left__form {
    background: #FFFFFF;
    border-bottom: 1px solid var(--color-red);
    padding: .4rem .5rem;
}

.header-left__input {
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.46rem;
    line-height: 1.7rem;
    
    color: #7D7D7D;

}

.header-left__input:focus {
    outline: none;
}

.header-left__link:hover i,
.header-left__link:active i {
    color: var(--color-red);
    cursor: pointer;
    
}

.header-left__icon {
    color: var(--color-grey-2);
    font-size: 1.8rem;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

@media only screen and (max-width: 767px) {
    .header-right {
        align-items: center;
    }
}
.header-right__main-menu {
    height: 100%;
}

.header-right__list {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    
    
}

.header-right__item {
    height: 100%;
    margin-right: 2rem;

    display: flex;
    align-items: center;

}

.header-right__link:link,
.header-right__link:visited {
    
    color: var(--color-grey-2);
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.9rem;

    text-decoration: none;
}

.header-right__link:hover,
.header-right__link:active {
    color: var(--color-red)
}

.header-right__avatar,
.header-right__cart,
.header-right__search,
.header-right__open-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color-grey-2);
    cursor: pointer;
}

.header-right__avatar,
.header-right__search {
    margin-right: 2rem;
}

.header-right__open-draw {
    margin-left: 2rem;
    
}

header i {
    font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {
    .header-right__search,
    .header-right__open-draw {
        margin: 0;
    }


}
.header-right__icon:hover,
.header-right__icon:active {
    color: var(--color-red)
}
.header-right__cart {
    position: relative;
}
.header-right__cart::before {
    position: absolute;
    content: '3';
    top: -.5rem;
    right: -.5rem;
    width: 1.3rem;
    height: 1.3rem;
    color: white;
    background-color: var(--color-red);
    z-index: 100;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#clone-menu {
    position: fixed;
    top: 0;
    left: -28rem;
    width: 28rem;
    height: 100vh;
    background-color: white;
    box-shadow: 1.2rem 1rem 3rem rgba(0, 0, 0, .03);
    z-index: 10;
    transition: transform .3s linear;
}

#clone-menu nav  {
    padding: 4rem 2rem;
}
#clone-menu nav ul {
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
}

#clone-menu nav ul li {
    height: auto;
    margin-right: 0;
    padding: 2rem 0;
   
}

#clone-menu.active {
    transform: translateX(100%);
}

.clone-menu__box {
    position: fixed;
    top: 9.1rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 5;
}

#header-right__search-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: wheat;
    z-index: 100;
    padding: 3rem 3rem;
    opacity: 0;
    
    transform: translateY(-100%);
    transition: all .3s linear;
}

#header-right__search-box.active {
    transform: translateY(0);
    opacity: 1;
    
}

.header-right__search-icon {
    display: block;
    text-align: right;
    font-size: 2.3rem;
    color: var(--color-grey-2);
}

.header-right__search-box-input {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right__search-input {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.header-right__search-input input:focus {
    outline: none;
}
.header-right__search-input input{
    
    border: none;
    font-family: "Pattaya";
    font-size: 3rem;
    text-align: left;
    background-color: wheat;
    color: var(--color-grey-2);
}

.header-right__search-input i {
    
    font-size: 2.5rem;
    color: var(--color-grey-2);
}

@media (max-width: 576px) {
    .header-right__search-input i {
        font-size: 2rem;
    }
    .header-right__search-input input {
        font-size: 2rem;
    }
}