* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    font-weight: 300;
    line-height: 1.6;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;

}

h1 {
    font-size: 20px;
    font-weight: 600;
    color: red;
    text-align: center;
    margin: 30px 0;
}

h2 {
    font-size: 20px;
    color: blueviolet;
}

.list {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.item {
    display: block;
}

.photo {
    height: 300px;
}

p {
    font-size: 16px;
    padding: 20px 20px;
}

a {
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
}