.Banner{
    
    &__box{
        height: 80rem;
        width: 100%;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;

        display: flex;
        align-items: center;
        background-color: #cccccc

        
       
    }
    @media screen and (max-width: 1200px) {
        &__box{
            height: 60rem;
        }
      }
    @media screen and (max-width: 992px) {
        &__box{
            height: 50rem;
        }
      }
    @media screen and (max-width: 768px) {
        &__box{
            height: 40rem;
        }
      }

    @media screen and (max-width: 575px) {
        &__box{
            height: 26rem;
        }
      }
     

    &__content{
        width: 100%;
        text-align: center;
    }


}